html {
  font-size: 16px;
  font-family: sans-serif;
}

p {
  margin-top: 4px;
  margin-bottom: 4px;
}

h2 {
  margin-bottom: auto;
}


blockquote { 
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-top: 6px;
}



